body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a; /* dark navy */
  color: #f1f5f9; /* light text */


}

.app {
  text-align: center;
}


.navbar {
  background-color: #1e293b;
  padding: 15px;
  color: #38bdf8;
  font-size: 1.5rem;
  font-weight: bold;
}

.input-section {
  margin: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #38bdf8;
  color: #0f172a;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0ea5e9;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  background-color: #1e293b;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 180px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

.card h3 {
  color: #38bdf8;
}

.chart-container {
  width: 80%;
  margin: 30px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.footer {
  background-color: #1e293b;
  padding: 15px;
  margin-top: 30px;
  color: #94a3b8;
}